/* @import url(//db.onlinewebfonts.com/c/a64ff11d2c24584c767f6257e880dc65?family=Helvetica); */
html {
  background: rgb(190, 191, 210);
  /* background: linear-gradient(145deg, rgba(190,191,210,1) 41%, rgba(254,217,186,0.9542191876750701) 100%); */
}
body {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  height: 100%;
}
.particle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.bio {
  top: 50%;
}
.tmytrn {
  text-decoration: none;
}
.tmytrn:hover .fade {
  opacity: 1 !important;
  text-decoration: none;
}

h1,
h2,
p {
  font-weight: normal;
  z-index: 5;
  color: #20215b;
}
.color {
  color: #20215b;
}
.me {

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 40%;
  z-index: 1;
}

main {
  overflow: hidden;
}
.fade {
  opacity: 0.5;
}

/* .footer {
  bottom: 0px;
  left:0px;
} */
